.drop-shadow {
box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.15);
}
 .drop-shadow-2 {
box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.30);
}

@media (max-width: 768px) {
    .reverse-mobile {
        flex-direction: column-reverse;
    }
}
@media (max-width: 768px) {
    .hide-mobile {
        display:none;
    }
}
.rounded-corners{
border-radius: 8px;
}

.wp-block-button__link {
 display: inline;
}
